<article class="container_article">
<h1><%= I18n.t('views.labels.label_edit_top') %></h1>
<%= render 'form', label: @label %>
<%= link_to 'Show', @label %> |
<%= link_to 'Back', labels_path %>
</article>