<article class="container_article">
<h1><%= I18n.t('views.labels.new_label_top') %></h1>
<%= render 'form', label: @label %>
<%= link_to I18n.t('views.labels.new_label_back'), labels_path %>
</article>