<div class="contailner">
  
  <div class="label_text">
    <p>
      <strong>Title:</strong>
      <%= @label.title %>
    </p>
  </div>

  <%= link_to I18n.t('views.labels.link_label_index'), labels_path %>
</div>
