<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>サイト情報削除のお知らせ</h1>    
    <p>サイト情報<%= @site_name %>が削除されました</p>
  </body>
</html>
