.smr_nav {
    margin-bottom: 100px;
}

.site_show_article {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;    
    padding: 0;
  }
  
  .site_show_article h1 {
  
  }
  
  .site_show_basic_block {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;  
    padding: 0;
  }
  
  .site_show_map_block {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;    
    padding: 0;
  }
  
  .site_show_comment_block {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;    
    padding: 0;
  }
  
  .site_show_image_block {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;    
    padding: 0;
  }
  
  .site_index_search_condition {
    margin: 10px;
  }
  
  .site_index_index {
    margin: 10px;
  }
  
