<article class="container_article">
  <h1><%= I18n.t('views.labels.site_edit') %></h1>
  <%= render 'sites/form', site: @site %>
  <%= link_to I18n.t('views.labels.link_back_to_site_index'), team_sites_path %>
</article>
  
